/*APP*/
body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .90rem 0;
  background-color: #461072;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #fff;
}

h1 .highlight {
  color: #ff1ca8;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-color: black;
  background-image: url('https://images.pexels.com/photos/2952834/pexels-photo-2952834.jpeg?cs=srgb&dl=silhouette-photo-of-people-beside-monitor-2952834.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
  }
}
